<h1>Movie Catalog</h1>
<section>
  <div class='details'>
    <h3>{{movie.title}} Details</h3>
    <div>
      Id: {{movie.id}}<br/>
      Year: {{movie.year}}
    </div>
    <div>
      <label >
        Title: <input type='text' [value]="movie.title"
                      (keyup.enter)="movie.title=titleInput.value" #titleInput />
      </label>
    </div>

    <div>
      <label >
        Year: <input type='text' [(ngModel)]="movie.year" />
      </label>
    </div>

    <button (click)="onSaveMovie(titleInput.value)" >Save</button>

  </div>
</section>
