<div class="form-style-8">
  <h2>Add Movie</h2>
  <form [formGroup]="myForm" novalidate (ngSubmit)="save(myForm.value, myForm.valid)">
    
    <div class="form-group">
      <!--Movie Title-->
      <label for="">Title</label>
      <input type="text" class="form-control" formControlName="title" placeholder="Movie Title">
      <small [hidden]="myForm.controls.title.valid || (myForm.controls.title.pristine && !submitted)" class="text-danger">
            Movie title is required (minimum 3 characters).
          </small>

      <!--Movie Year--><br>
      <label for="">Year</label>
      <input type="number" class="form-control" formControlName="year">
      <small [hidden]="myForm.controls.year.valid || (myForm.controls.year.pristine && !submitted)" class="text-danger">
            Year required (4 digits between: 1900 - 2016)
          </small>

      <!--Movie Poster Url  --><br>
      <label for="">Poster Url</label>
      <input type="url" class="form-control" formControlName="posterUrl">
      <small [hidden]="myForm.controls.posterUrl.valid || (myForm.controls.posterUrl.pristine && !submitted)" class="text-danger">
            a Valid Url required (ie: http://www.abc.org/poster.jpeg)
          </small>
                  
    </div>
    <button type="submit" class="btn btn-default">Submit</button>

    <!--<p> Logs: <br><br>  </p>

    <div class="margin-20">
      <div>myForm details:-</div>
      <pre>Is myForm valid?: <br>{{myForm.valid | json}}</pre>
      <pre>Is myForm submitted?: <br>{{submitted | json}}</pre>
      <pre>myForm value: <br>{{myForm.value | json}}</pre>
    </div>
    <div class="margin-20">
      Form changes:
    </div>
    <div *ngFor="let event of events" class="margin-20">
      <pre> {{ event | json }} </pre>
    </div>
  </form>
</div>-->